* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #f4f7ff;
}

h1 {
  text-align: center;
  margin: 1em auto;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  margin: 1em auto;
  justify-content: center;
  gap: 1em;
  transition: all 0.5s ease;
  transform: translateX(0);
}

.card-wrapper.hide {
  transform: translateX(-100%);
  height: 0px;
}

.card {
  display: flex;
  height: 10rem;
  width: 30rem;
  background-color: white;
  padding: 1em;
  gap: 1em;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(140, 140, 140);
  margin: 0 auto;
}

.left {
  background-color: aliceblue;
  padding: 1em;
  border-radius: 8px;
}

.card p {
  margin: 0.5em 0;
}

.title-p {
  font-weight: bold;
}

.dot-container {
  margin: 0 auto;
  text-align: center;
  height: 3rem;
  width: 20rem;
}

.dot {
  display: inline-block;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  border: 1px solid black;
  margin: 0 0.25em;
  cursor: pointer;
}

.selected {
  background-color: black;
}

/* .card-wrapper.two,
.card-wrapper.three {
  display: none;
} */
/* @media (min-width: 1600px) {
  .card-wrapper {
    flex-direction: row;
  }
} */
